body {
    font-family: Silkscreen, sans-serif;
    color: #000000;
}

h1, h2, h3 {
    font-family: Silkscreen, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #06e6c4;
}

.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #06e6c4;
    font-size: .9em;
    border-radius: 3px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #06e6c4;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header{
    display: flex;
 flex-direction: column;
 align-items: center;
 background-image: url("camera.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 color: #FFFFFF;
 text-align: center;
 padding: 20px
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 20px;
    background-color: #06e6c4;
    color: #FFFFFF;
}

#sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #c1c1c1;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #06e6c4;
    color:#FFFFFF
}
